{% extends "base.html" %} 
{% block head %}
<head>
    <title>{% block title %}Dashboard{% endblock %}</title>
    {% load static %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
{% endblock %}

{% block content %}
    <div class="project-choose">
        <div class="button-group" role="group">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                <span class="glyphicon glyphicon-file" aria-hidden="true"></span> New</button>
    
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"> Create a new project </div>
                        <form class="form-horizontal" action="{% url 'init' %}" method="get"> {{ form.as_p }} {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="inputName" class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input id="inputName" type="text" class="form-control list-inline" placeholder="Name" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputdes" class="col-sm-2 control-label">Description</label>
                                    <div class="col-sm-10">
                                        <input id="inputdes" type="text" class="form-control list-inline" placeholder="Description" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input data-toggle="modal" class="btn btn-success" type="submit" name="init_kubeflow"></input>
                                <button class="btn btn-outline-danger btn-lg" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
        </div>
    <div class="project">
        <div class="title">Project</div>
        <div id="txt"></div>
    </div>
    <!-- {% block form %}
    <form action="{% url 'init' %}" method="get"> {{ form.as_p }} {% csrf_token %}
            {% ifequal executed 'done' %}
                <a href="127.0.0.1:8888" target="view_window">打开notebook</a>
            {% else %}
            <button type="commit" class="btn btn-primary btn-lg " id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing Order">初始化</button>
            {% endifequal %}
        </form>
    {% endblock %} -->
    <!-- how to open kubernetes dashboard?
            1. create a form containing a button with post method
            2. when click on the button, it activate a function that execute a subprocess 'minikube dashboard'
    -->
    {% block dashboard_notebook %}
        <form action="{% url 'init' %}" method="get">
            {{ form.as_p }}
            {% csrf_token %}
            {% ifequal dashboard_url 'none' %}
            <input type="submit" value="START!" name="open_dashboard"></input>
            {% comment %} <button type="commit" class="btn btn-warning">打开dashboard</button>
            <button type="commit" class="btn btn-warning">打开notebook</button> {% endcomment %}
            {% else %}
                <a role="button" class="btn btn-link btn-primary" href="{{ dashboard_url }}" target="view_window">打开dashboard</a>
                <a role="button" class="btn btn-link btn-primary" href="127.0.0.1:8888" target="view_window">打开notebook</a>
            {% endifequal %}
            <br>
        </form>
    {% endblock %}
{% endblock %}
<!--
<script>
$('.btn').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 120000);
});
</script>
-->