{% extends "base.html" %}
{% block head %}
<head>
    <title>{% block title %}Dashboard{% endblock %}</title>
    {% load static %}
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link href="{% static 'css/style5.css' %}" rel="stylesheet">
</head>
{% endblock %}

{% block content %}
<div class="wrapper">

    <nav id="sidebar">
        <div class="sidebar-header">
				<h3>Project</h3>
        </div>
        <form>

            <ul class="list-unstyled components">
                <li  onclick="showOtherDiv(0)">
                    <a type="submit" name="cp" id="0project" href="#"></a>
                </li>
                <li onclick="showOtherDiv(1)" >
                    <a id="1project" href="#"></a>
                </li>
                <li onclick="showOtherDiv(2)">
                    <a id="2project" href="#"></a>
                    
                    <li onclick="showOtherDiv(3)">
                        <a id="3project" href="#"></a>
                    </li>
                    <li onclick="showOtherDiv(4)">
                        <a id="4project" href="#"></a>
                    </li>
                    <li onclick="showOtherDiv(5)">
                        <a id="5project" href="#"></a>
                    </li>
                    <li onclick="showOtherDiv(6)">
                        <a id="6project" href="#"></a>
                    </li>
                    <li onclick="showOtherDiv(7)">
                        <a id="7project" href="#"></a>
                    </li>
                </ul>
        </form>
    </nav>

    <script type="text/javascript">
    function showOtherDiv(num){
        //获取要显示的div对象
        var  otherDiv=document.getElementById('otherDiv');
        //显示
        otherDiv1.style.display="block";
        otherDiv2.style.display = "none";
        SelectObj(num);
    }
    function showDiv(){
        //获取要显示的div对象
        var  otherDiv=document.getElementById('otherDiv');
        //显示
        otherDiv1.style.display="none";
        otherDiv2.style.display = "block";
        SelectObj(num);
    }
    </script>

    <!--获得输入的信息并且显示-->
    <script type="text/javascript">
        var counter = 0;
        var objb;
        function GetAndShowinfo() {
            var inputnamevalue = document.getElementById('inputName').value;
            var inputdesvalue = document.getElementById('inputdes').value;
            var obja = document.getElementById(counter + 'project');

            re = /[a-zA-Z0-9]/;
            if (re.test(inputnamevalue)) {
            }
            else { alert('请输入一个只包含数字与英文的项目名称'); return; }
            var reg = new RegExp("[\\u4E00-\\u9FFF]+", "g");
            if (reg.test(inputnamevalue)) { alert("请输入一个只包含数字与英文的项目名称！"); return; }

            for (var i = 0; i <counter; i++) {
                var objc = document.getElementById(i + 'project');
                if (objc.innerHTML == inputnamevalue)
                { alert('请输入一个不重复的英文项目名称'); return; }
            }
            obja.innerHTML = inputnamevalue;
            counter++;
        }

        function SelectObj(num)
        {
            objb = document.getElementById(num + 'project');
        }
        function Deleteinfo()
        {
            objb.innerHTML = " ";
            counter--;
            if(counter<=0){
                counter=0;
            }
        }
    </script>



    <div id="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div class="project-choose">
                    <div class="button-group" role="group">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span> New</button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal3">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
                    </div>
                </div>
            </div>
        </nav>
        
        <div id="otherDiv2" style="text-align:center;padding-top:120px">
            <img src="{% static 'css/No_Message.jpg' %}">
        </div>

        <div id="otherDiv1" class="file" style="display:none">
            <iframe src="http://www.tensorfly.cn/" width="100%" height="100%" scrolling="yes" frameborder="0"> </iframe>
        </div>
        <div class="Initialize" style="float:right;">
            <form class="form-horizontal" action="{% url 'init' %}" method="get"> {{ form.as_p }} {% csrf_token %}
                <input class="btn btn-success" type="submit" name="init_kubeflow" value="Initialize!" style="position:absolute;bottom:0px;right:300px;"> </input>
            </form>
        </div>
        
        {% block dashboard_notebook %}
        <div class="Start" style="float:right;padding-right:10px;">
            <form action="{% url 'init' %}" method="get">
                {{ form.as_p }} {% csrf_token %} 
                {% with dashboard_url='http://192.168.99.100:30000' %}

                    <a  href="{{ dashboard_url }}" target="view_window" class="btn btn-success" style="position:absolute;bottom:0px;right:170px;height:42px;width:114px;">Dashboard</a>
                    {% endwith %}                

                    {% with nb_url='http://127.0.0.1:8888/user/admin/tree?' %}
                    <a href="{{ nb_url }}" target="view_window" class="btn btn-success" style="position:absolute;bottom:0px;right:40px;height:42px;width:114px;">Notebook</a>
                    {% endwith %}                
                <br>
            </form>
        </div>
        {% endblock %}

    </div>
</div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"> Create a new project </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input id="inputName" name="N" type="text" class="form-control list-inline" placeholder="Name" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputdes" class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10">
                                <input id="inputdes"  type="text" class="form-control list-inline" placeholder="Description" required/>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button  onclick="GetAndShowinfo()" data-toggle="modal" class="btn btn-success"  type="submit" data-dismiss="modal"> Save</button>
                    <button class="btn btn-outline-danger btn-lg" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal3">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"> Message </div>
                <div class="modal-body">
                    Be sure to delete？
                </div>
                <div class="modal-footer">
                  <button onclick="Deleteinfo();showDiv();" class="btn btn-success" data-dismiss="modal">Yes</button>
                  <button class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}